pre, code, .sourceCode {
  font-size: 0.75rem;
}
.center-graph {
  display: flex;
  justify-content: center;
}
.small {
  font-size: 0.8em;
  font-style: italic;
  color: #666;
}
.append {
  font-size: 0.9em;
}
table {
  font-size: 0.94em; /* Adjust the size as needed */
}
.bolder {
  font-weight: 900;
  color: #999;
}
pre.sourceCode {
    background-color: #000000 !important;
    color: #ffffff; /* Optional: Set text color to white for better contrast */
}

code {
    background-color: #000000 !important;
    color: #999999; /* Optional: White text for contrast */
    padding: 1px 4px; /* Optional: Add padding for better appearance */
    border-radius: 3px; /* Optional: Rounded corners */
}