pre, code, .sourceCode {
  font-size: 0.75rem;
}
.center-graph {
  display: flex;
  justify-content: center;
}
.small {
  font-size: 0.8em;
  color: #666;
}
.append {
  font-size: 0.9em;
}
table {
  font-size: 0.94em; /* Adjust the size as needed */
}
.bolder {
  font-weight: 900;
}

.my-output-class {
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
}